<div class="col-sm-8 col-sm-10 mx-auto">
    <form
        class="col-sm-6 mx-auto mt-3 card p-5 shadow"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm">
        <div class="mx-auto card-title">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    aria-describedby="emailHelp"
                    placeholder="Username"
                    formControlName="username" />
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    formControlName="password" />
            </div>
            <div class="col-4 mx-auto">
                <button
                    type="submit"
                    class="w-100 btn btn-warning">
                    Login
                </button>
            </div>
        </div>
    </form>
</div>
