<div class="col-sm-8 col-sm-10 mx-auto">
    <form
        class="col-sm-6 mx-auto mt-3 card p-5 shadow"
        (ngSubmit)="onSubmit()"
        [formGroup]="registerForm">
        <div class="mx-auto card-title">
            <h1>Register</h1>
        </div>
        <div class="card-body">
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    aria-describedby="emailHelp"
                    placeholder="Username"
                    formControlName="username"
                    [ngClass]="{
                        'is-valid':
                            username && username.touched && username.valid,
                        'is-invalid':
                            username && username.touched && username.invalid
                    }" />
            </div>
            <div class="form-group mb-3">
                <label for="email">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="Email"
                    formControlName="email"
                    [ngClass]="{
                        'is-valid': email && email.touched && email.valid,
                        'is-invalid': email && email.touched && email.invalid
                    }" />
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password (8-20 characters)"
                    formControlName="password"
                    [ngClass]="{
                        'is-valid':
                            password && password.touched && password.valid,
                        'is-invalid':
                            password && password.touched && password.invalid
                    }" />
            </div>
            <div class="form-group mb-3">
                <label for="repeatedPassword">Repeat password</label>
                <input
                    type="password"
                    class="form-control"
                    id="repeatedPassword"
                    placeholder="Repeat password"
                    formControlName="repeatedPassword"
                    [ngClass]="{
                        'is-valid':
                            repeatedPassword &&
                            repeatedPassword.touched &&
                            repeatedPassword.valid,
                        'is-invalid':
                            repeatedPassword &&
                            repeatedPassword.touched &&
                            repeatedPassword.invalid
                    }" />
            </div>

            <ngb-alert
                *ngIf="repeatedPassword?.hasError('notSame')"
                [dismissible]="false"
                class="alert alert-danger fade show m-3"
                type="danger">
                <span>Passwords do not match!</span>
            </ngb-alert>

            <div class="col-5 col-sm-4 mx-auto">
                <button
                    [disabled]="registerForm.invalid"
                    type="submit"
                    class="w-100 btn btn-warning">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>
