<div class="col-sm-8 col-sm-10 mx-auto">
    <form class="col-sm-6 mx-auto mt-3 card p-5 shadow">
        <div class="mx-auto card-title">
            <h1>Register</h1>
        </div>
        <div class="card-body">
            <div class="form-group mb-3">
                <label for="exampleInputUsername1">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername1"
                    aria-describedby="emailHelp"
                    placeholder="Username" />
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Email" />
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password" />
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputPassword2">Repeat password</label>
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword2"
                    placeholder="Repeat password" />
            </div>
            <div class="col-5 col-sm-4 mx-auto">
                <button
                    type="submit"
                    class="w-100 btn btn-warning">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>
